{% extends 'base.html' %}

{% block title %}
Data Dosen
{% endblock title %}

{% block header %}
<h1 class="mt-4">Dosen</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Laporan</li>
</ol>
{% endblock header %}

{% block cardheader %}
<i class="fas fa-table me-1"></i>
Data Dosen
{% endblock cardheader %}

{% block cardtable %}
<div class="container overflow-hidden">
    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addnewmember">
                Tambah Dosen
            </button>
        </div>
        <div class="col">
            <form action="{% url 'exportdosen' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-success" type="submit">Export</button>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addnewmember" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambah Dosen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/admins/createdosen/">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% comment %} <div class="mb-3">
                        <label>Nip</label>
                        <input type="text" id="Nip" class="form-control" name=nip />
                    </div>
                    <div class="mb-3">
                        <label>Nama</label>
                        <input type="text" id="Nama" class="form-control" name=namaDosen />
                    </div> {% endcomment %}

            
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" value="Submit" id="submit">Submit</button>
            </div>
            </form>
        </div>
        </div>
    </div>
</div>

<hr style="border-top:1px solid #000; clear:both;" />
<table id="datatablesSimple" class="table table-bordered">
    <thead>
        <tr>
            <th>Nip</th>
            <th>Nama</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for dosen in Dosens %}
        <tr>
            <!-- <td>{{ Member.Nim }}</td>
            {% if Member.Foto %}
            <td><img src="{{ Member.Foto.url }}" width="100px" height="100px" />{{Member.Foto}}</td>
            {% else %}
            <td><img src="upload/Members.png" width="100px" height="100px" /></td>
            {% endif %} -->
            <td>{{ dosen.nip }}</td>
            <td>{{ dosen.namaDosen }}</td>
            <td>
                <div class="row justify-content-start">
                    <div class="col-2">
                        <form action="{% url 'edit-dosen' dosen.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-warning" type="submit"><i class="fa fa-pencil"></i></button>
                        </form>
                    </div>
                    <div class="col-2">
                        <form action="{% url 'delete-dosen' dosen.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit"><i class="fa fa-trash"
                                    onclick="return confirm('Are you sure want to delete ?')"></i></button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock cardtable %}