{% load static %}
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Menu</div>
                    <a class="nav-link" href="/admins">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link" href="/admins/screen">
                        <div class="sb-nav-link-icon"><i class="fas fa-camera"></i></div>
                        Absen
                    </a>
                    <div class="sb-sidenav-menu-heading">Laporan</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                        data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Data
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/admins/user">Data Mahasiswa</a>
                            <a class="nav-link" href="/admins/dosen">Data Dosen</a>
                            <a class="nav-link" href="/admins/attendance">Data Kehadiran</a>
                            <a class="nav-link" href="/admins/matkul">Matakuliah</a>
                            <a class="nav-link" href="/admins/jadwal">Jadwal</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                        data-bs-target="#collapsePresensi" aria-expanded="false" aria-controls="collapsePresensi">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Presensi
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePresensi" aria-labelledby="headingOne"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/admins/sudahabsen">Sudah Absen</a>
                            <a class="nav-link" href="/admins/tidakabsen">Tidak Absen</a>
                        </nav>
                    </div>
                    
                </div>
        </nav>
    </div>